<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>First Form Test | {{title}}</title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>

        <nav> 
            <div class="site-title">
                <a href="/"><h1>Form Testing Application</h1></a>
                <p>Johnson's Form</p>
            </div>
            <ul>
                <li><a href="/newsletter">Subscribe</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contest/vacation-photo">New Upload</a></li>
            </ul>
        </nav>
            {{{body}}}
        <footer>
            Copy Right &copy; Johnson's Form 2021
        </footer>

        
    </body>
</html>
